.container
{
    display: grid;
    height: 100px;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#sinopsis
{
 grid-column: 1/5;
}

#text
{
    grid-column: 2/4;
}

#footer
{
    grid-column: 1/5;
}
